<app-header (linkSelected)="onNavigate($event)"></app-header>
<h2 appBasicHighlight >Recipe Book</h2>
<p appBetterHighlight [defaultColor]="'yellow'" [highLightColor]="'red'" >Fantastic recipes!</p>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <app-recipes *ngIf="linkSelected === 'recipe'" ></app-recipes>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <app-shopping-list *ngIf="linkSelected == 'shopping_list'" ></app-shopping-list>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
          <app-search *ngIf="linkSelected == 'search'" ></app-search>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul *ngIf="linkSelected == 'unless'" >
                <li *ngFor="let number of numbers" >
                    <span *appUnless="number % 2 == 0">{{number}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
           <app-fileupload *ngIf="linkSelected == 'file_upload'" ></app-fileupload>
        </div>
    </div>
</div>

