<app-header (linkSelected)="onNavigate($event)"></app-header>
<h2 appBasicHighlight >Recipe Book</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <app-recipes *ngIf="linkSelected === 'recipe'" ></app-recipes>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <app-shopping-list *ngIf="linkSelected == 'shopping_list'" ></app-shopping-list>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
          <app-search *ngIf="linkSelected == 'search'" ></app-search>
      </div>
  </div>
</div>

